*.class
private_data/
secrets.json
bin/
*.xml
*.json
/bin/

.DS_Store
ieee.odm.test/.classpath
ieee.odm.test/.settings/org.eclipse.core.resources.prefs
ieee.odm_pss/.settings/org.eclipse.core.resources.prefs
ieee.odm.schema/src/main/java/META-INF/
/.settings/
