*.class
private_data/
secrets.json
bin/
*.xml
!ieee.odm.test/testdata/cim/*.xml
*.json
/bin/

.DS_Store
**/.classpath
**/.settings/
ieee.odm.schema/src/main/java/META-INF/
*.classpath
.code-workspace
**/.factorypath
**/org.eclipse.jdt.core.prefs
